<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome!</title>

</head>
<body>
<table style="table-layout: auto" BORDER="5" WIDTH="50%" CELLPADDING="4" CELLSPACING="3" align="center"
       style="margin: 0 auto;">
  <tr>
    <th>
      <form method="post">
        <button name="action" value="login" type="submit">Login</button>
      </form>
        <br>
        <br>
      <form method="post">
        <button name="action" value="register" type="submit">Register</button>
      </form>
    </th>
  </tr>
</table>
</body>
</html>